<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Graduation Rooftop Party | 25.8</title>
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <script src="https://kit.fontawesome.com/91bf9bbf90.js" crossorigin="anonymous"></script>
</head>

<body>

    <div class="main-content">

        <!-- header -->
        <header>
            <img src="header-gold1.png" alt="">
        </header>


        <!-- main -->
        <main>
            <div>
                <p class="graduation">Graduation</p>
                <div class="content">
                    <p class="party">PARTY</p>
                    <div class="date">
                        <a href="https://calendar.google.com/calendar/render?action=TEMPLATE&dates=20230825T133000Z%2F20230825T180000Z&details=https%3A%2F%2Fgraduation.cyclic.cloud&location=Shlomo%20Ibn%20Gabirol%20Street%2C%20Tel%20Aviv&text=Graduation%20PARTY" target="_blank"><p><span class="left">•</span>AUGUST 25 | 4:30PM<span class="right">•</span></p></a>
                    </div>
                    <div class="info">
                        <p class="price">
                            70₪
                        </p>
                        <a href=" https://waze.com/ul?ll=32.074664,34.781528&navigate=yes" target="_blank">
                            <p>
                                <i class="fa-solid fa-location-dot fa-beat"></i>
                                Ibn Gabirol Street, Tel Aviv
                            </p>
                        </a>
                    </div>
                </div>
            </div>


            <div class="register-form">
                <form action="/" method="post">
                    <input placeholder="שם מלא" type="text" name="participantName" required="">
                    <input placeholder="טלפון" type="tel" name="participantPhone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                        required="">
                    <button type="submit" value="submit">REGISTER</button>
                </form>
            </div>

        </main>

        <!-- footer -->
        <footer>
            <img src="footer.png" alt="">
        </footer>

    </div>




</body>

</html>