<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Graduation Party | 25.8</title>
</head>

<body>

    <div class="main-content">

        <!-- header -->
        <header>
            <img src="header-gold1.png" alt="">
        </header>


        <!-- main -->
        <main>
            <div>
                <p class="graduation">Graduation</p>
                <div class="content">
                    <p class="party">PARTY</p>
                    <div class="date">
                        <p><span class="left">•</span>AUGUST 25 | 4:30PM<span class="right">•</span></p>
                    </div>
                    <div class="info">
                        <p class="price">
                            70₪
                        </p>
                        <p>
                            Center of Tel-Aviv
                        </p>
                    </div>
                </div>
            </div>


            <div class="register-form">
                <form action="/" method="post">
                    <input placeholder="Name" type="text" name="participantName" required="">
                    <input placeholder="Phone" type="tel" name="participantPhone" pattern="[0-9]{3}[0-9]{3}[0-9]{4}"
                        required="">
                    <button type="submit" value="submit">REGISTER</button>
                </form>
            </div>

        </main>

        <!-- footer -->
        <footer>
            <img src="footer.png" alt="">
        </footer>

    </div>




</body>

</html>